/*LoginPage.css и RegistrationPage.css */

.login-container,
.registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 100vh;
  padding: 20px;
}

.login-title {
  font-family: Verdana;
  color: #fc842d;
  margin-top: -300px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  padding-left: -50px;
  position: relative;
  left: -90px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  top: 306px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 240px;
  height: 25px;
  top: 491px;
  left: 16px;
  gap: 0px;
  opacity: 0px;
}

form.login-container {
  width: 300px;
  top: 80px;
  left: 2px;
  gap: 0px;
  opacity: 0px;
}
.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 50px;
  display: block;
}

.btn {
  opacity: 0px;
  display: flex;
  justify-content: center;
}
.btn:hover {
  background-color: #fc842d;
}
