.formContainer {
    width: 600px;
    margin-top: 100px; /* Adjusted from 200px to 100px */
    margin-left: 5px;
    position: relative;
}


.title {
	font-size: 34px;
	font-weight: 700;
	line-height: 47.6px;
	text-align: left;
	width: 608px;
	margin-bottom: 50px;
}

.inputContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.label {
	font-size: 14px;
	font-weight: 700;
	color: var(--grey);
	width: calc(100% / 2 - 10px);
}

.input {
	width: 95%;
	background: transparent;
	border: none;
	border-bottom: 1px solid var(--grey-transparent);
	padding: 5px 10px 0 5px;
	font-size: 16px;
	margin-top: 10px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.radioContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 30px;
	border-top: 1px solid var(--grey-transparent);
	position: relative;
}

.radioContainer .label {
	display: flex;
	align-items: center;
	gap: 3px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.radioContainer .label::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid var(--grey);
	background-color: transparent;
	border-radius: 50%;
}

span::after {
	content: '';
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	/* background-color: var(--orange); */
	border-radius: 50%;
}

.radio {
	display: none;
	width: 18px;
	height: 18px;
	top: 20px;
}

.radio:checked + span {
	color: var(--orange);
}

.radio:checked ~ span::after {
	background-color: var(--orange);
}

span {
	font-weight: 700;
	font-size: 14px;
}

.bloodTypeContainer {
	width: 275px;
}

.button {
	position: absolute;
	bottom: -25%;
	right: 0;
	border-radius: 20px;
	border: none;
	padding: 14px 40px;
	font-size: 14px;
	font-weight: 700;
	color: var(--white);
	background-color: var(--orange);
	cursor: pointer;
	box-shadow: 0px 3px 8px 2px #FC842D80;
}