@import-normalize; /* bring in normalize.css styles */

:root {
	--black: #212121;
	--grey: #9B9FAA;
	--grey-transparent: #E0E0E0;
	--orange: #FC842D;
	--dark-blue: #264061;
	--overlay: #2121211F;
	--white: #ffffff
}

*:focus {
	outline: none;
}

body {
  margin: 0;
  font-family: 'Verdana', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,h4,h5,h6,p {
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
}
 
*, *:before, *:after {
	box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}