.AddProductFormContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 18px;
    height: auto;
  }
  
  /* @media (max-width: 991px) {
    .AddProductFormContainer {
      padding: 100px 20px 100px 0;
    }
  } */
  
  .dividerContainer {
    align-self: flex-end;
    display: flex;
    width: 100%;
    max-width: 993px;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  @media (max-width: 991px) {
    .dividerContainer {
      max-width: 100%;
    }
  }
  
  .divider {
    aspect-ratio: 0.06;
    object-fit: contain;
    object-position: center;
    width: 2px;
    stroke-width: 2px;
    stroke: #e0e0e0;
  }
  
  .inputContainer {
    display: flex;
    /* margin-top: 227px; */
    width: 503px;
    max-width: 100%;
    align-items: center;
    gap: 20px;
    color: #9b9faa;
    letter-spacing: 0.56px;
    flex-wrap: wrap;
    justify-content: space-between;
    font: 700 14px Verdana, sans-serif;
  }
  
  /* @media (max-width: 991px) {
    .inputContainer {
      margin-top: 40px;
    }
  } */
  
  .productNameContainer {
    display: flex;
    /* margin-top: 11px; */
    flex-direction: column;
  }
  
  .productNameInput {
    width: 100%;
    stroke-width: 1px;
    stroke: #e0e0e0;
    /* margin-top: 24px; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    /* padding: 8px; */
    height: 45px;
    font-size: 14px;
    color: #9b9faa;
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
  }
  
  .productNameInput:focus {
    outline: none; /* Remove default outline */
    border: 1px solid #e0e0e0; /* Same color as default border */
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .gramsContainer {
    display: flex;
    /* margin-top: 11px; */
    flex-direction: column;
    white-space: nowrap;
    text-align: right;
    height: 48px;
  }
  
  @media (max-width: 991px) {
    .gramsContainer {
      white-space: initial;
    }
  }
  .gramsInput {
    width: 107px;
    stroke-width: 1px;
    stroke: #e0e0e0;
    /* margin-top: 20px; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    text-align: right;
    /* padding: 8px; */
    height: 48px;
    font-size: 14px;
    color: #9b9faa;
    font-family: Verdana;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.56px;
  }
  .gramsInput:focus {
    outline: none; /* Remove default outline */
    border: 1px solid #e0e0e0; /* Same color as default border */
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .gramsInput {
    -moz-appearance: textfield; /* Firefox */
  }
  
  .gramsInput::-webkit-inner-spin-button,
  .gramsInput::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, and Opera */
    margin: 0; /* Remove default margin */
  }
  
  .submitButton {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  
  .submitButtonImg {
    height: 48px;
    width: 48px;
  }
  
  .AddMobileButton {
    display: none;
  }
  
  @media (max-width: 768px) {
    .AddProductFormContainer {
      width: 290px; /* Mobile width */
      height: 216px; /* Mobile height */
      align-items: center;
      margin: auto;
    }
  
    .inputContainer {
      flex-direction: column; /* Ensure inputs are stacked */
      width: 290px;
    }
  
    .productNameInput {
      width: 290px;
      margin-bottom: 15px;
    }
    .gramsInput {
      width: 290px;
      text-align: left;
      /* margin-top: 32px; */
      margin-bottom: 60px;
    }
  
    /* .AddMobileButton {
      display: inline-flex;
      padding: 13px 46px;
      align-items: center;
      gap: 10px;
      border-radius: 30px;
      background: #fc842d;
      box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.5);
    } */
    .AddMobileButton {
      display: inline-flex;
      padding: 13px 46px;
      align-items: center;
      gap: 10px;
      border-radius: 30px;
      background: #fc842d;
      box-shadow: 0px 4px 10px 0px rgba(252, 132, 45, 0.5);
      color: #fff;
  
      text-align: center;
      font-family: Verdana;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.56px;
    }
  
    .submitButton {
      display: none;
    }
  }
  