.background {
    position: relative; 
    width: 100%; 
    height: auto; 
}


.banana {
    background: url('../../images/banana.png');
    position: absolute;
    top: -165px;
    right: -100px;
    height: 498px;
    width: 450px;
    z-index: -1;
}

.greyThingy {
    background: url('../../images/grey_thingy.png');
    position: absolute;
    top: -150px;
    right: -100px; 
    width: 600px;
    height: 815px;
    z-index: -2;
}

.grass {
    background: url('../../images/grass.png');
    position: absolute;
    top: -120px;
    right: -150px; 
    width: 980px;
    height: 820px;
    z-index: -2;
}

.strawberry {
    background: url('../../images/strawberry.png') center;
    position: absolute;
    bottom: -700px;
    right: -100px; 
    width: 280px;
    height: 290px;
    z-index: -2;
}
